<div class="grid gap-7 grid-cols-auto w-full! h-screen overflow-y-auto pb-60">
  <app-general-data class="w-full col-span-2" />

  <div class="flex items-center gap-x-7 col-span-2">
    <app-orders-over-time class="h-117.25! w-full flex-1 grow" />

    <app-last-days-sales class="h-117.25! w-64 shrink-0" />
  </div>

  <div class="grid grid-cols-2 gap-x-7 col-span-2">
    <app-recent-transactions class="h-99! row-start-3 col-start-1" />
    <app-top-products class="h-99! row-start-3 col-start-2" />
  </div>
</div>
