<label
  for="headerSearch"
  class="group flex flex-col text-(--general-70) hover:text-(--general-100) focus-within:text-(--general-100) transition-colors overflow-hidden cursor-pointer"
>
  <div class="flex gap-2 items-center">
    <svg data-p-icon="search" class="size-4.5 shrink-0"></svg>
    <input
      type="text"
      id="headerSearch"
      placeholder="Search..."
      class="flex-1 outline-none bg-transparent text-body-xs"
    />
  </div>

  <div
    class="h-px w-full bg-(--primary-40) mt-1 scale-x-0 group-focus-within:scale-x-100 transition-transform duration-200 origin-left"
  ></div>
</label>
