<div class="mx-10 mt-8">
  <div class="flex items-center justify-between">
    <h2>{{ title() }}</h2>

    <div class="flex gap-2">
      @if (secondaryFunction()) {
        <button
          (click)="secondaryFunction()?.fn?.()"
          class="py-2 px-6 rounded-sm border border-(--general-50) flex items-center gap-1 text-(--primary-100) hover:bg-(--primary-100)/20 transition-colors focus:bg-(--primary-100)/20 focus:outline-none cursor-pointer"
        >
          @if (secondaryFunction()?.icon) {
            <ng-container *ngComponentOutlet="secondaryFunction()!.icon" />
          }
          {{ secondaryFunction()?.name }}
        </button>
      }

      @if (mainFunction()) {
        <button
          (click)="mainFunction()?.fn?.()"
          class="py-2 px-6 rounded-sm bg-(--primary-100) border border-(--primary-100) flex items-center gap-1 text-white cursor-pointer transition-colors hover:bg-white hover:text-(--primary-100) focus:outline-none focus:bg-white focus:text-(--primary-100)"
        >
          @if (mainFunction()?.icon) {
            <ng-container *ngComponentOutlet="mainFunction()!.icon" />
          }
          {{ mainFunction()?.name }}
        </button>
      }
    </div>
  </div>

  <div class="mt-7">
    <ng-content></ng-content>
  </div>
</div>
