<div class="flex flex-col flex-1 h-full min-h-0 w-full">
  <div class="flex items-center justify-between shrink-0">
    <h2 class="text-h5">{{ title() }}</h2>

    <div class="flex gap-2">
      @if (secondaryFunction()) {
        <app-button [settedFunction]="secondaryFunction()" btnType="secondary" />
      }

      @if (mainFunction()) {
        <app-button [settedFunction]="mainFunction()" />
      }
    </div>
  </div>

  <div class="mt-7 flex flex-col flex-1 min-h-0 overflow-y-auto scrollbar-track-transparent">
    <ng-content></ng-content>
  </div>
</div>
