<app-info-block
  title="Top Products by Units Sold"
  class="h-99! flex flex-col"
  [isCuttedBottom]="true"
>
  <div class="w-full mt-5 flex-1 overflow-y-auto">
    <table class="w-full full border-collapse text-body-xs leading-none!">
      <thead>
        <tr class="text-left border-b-2 border-(--general-60) text-(--general-80) font-bold">
          <th class="py-3">Name</th>
          <th class="py-3">Price</th>
          <th class="py-3">Units Sold</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track product.name) {
          <tr class="border-b last:border-none border-(--general-60)">
            <td class="py-2 flex items-center gap-4">
              <img
                [src]="product.imageUrl"
                [alt]="product.name"
                class="w-9 h-9 rounded-lg object-cover bg-gray-100 border border-gray-100"
              />
              <span class="text-gray-900">{{ product.name }}</span>
            </td>

            <td class="py-4 text-gray-900">${{ product.price | number: '1.2-2' }}</td>

            <td class="py-4 text-gray-600">
              {{ product.unitsSold }}
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="3" class="text-center py-8 text-gray-400">No products found.</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</app-info-block>
