<ul class="flex items-center gap-5 ml-9">
  <li
    class="text-(--general-70) hover:text-(--general-100) focus:text-(--general-100) focus:outline-none transition-colors size-6 relative flex items-center justify-center"
  >
    <button
      type="button"
      class="cursor-pointer focus:text-(--general-100) focus:outline-none transition-colors"
    >
      <svg data-p-icon="comment" class="size-5"></svg>
    </button>
  </li>
  <li
    class="text-(--general-70) hover:text-(--general-100) focus:text-(--general-100) focus:outline-none transition-colors size-6 relative flex items-center justify-center"
  >
    <div
      class="absolute -translate-1/2 top-0 left-full size-4 bg-(--primary-100) rounded-full flex items-center justify-center"
    >
      <p class="font-bold text-xs text-white">5</p>
    </div>
    <button
      type="button"
      class="cursor-pointer focus:text-(--general-100) focus:outline-none transition-colors"
    >
      <svg data-p-icon="bell" class="size-5"></svg>
    </button>
  </li>
</ul>
